li.feed-item
  .feed-item--image(style!="background-image: url(<%= media.m %>)")
    a(href!="#/view/<%=id%>", title!="View details for <%= title %>.")
  .feed-item--details
    h1.feed-item--title.tx--blue.hv--pink
      a(href!="#/view/<%=id%>")<%= title %>
    ul
      li.feed-item--detail
        a(href!="https://flickr.com/<%= author_id %>", target="_blank", title!="See <%= author %> on flickr.") <%= author %>
      li.feed-item--detail.published <%= published %>
      li.feed-item--detail
        a(href!="<%= link %>", target="_blank") View on flickr
