.detail.bd--grey.rd--border.padd(ng-controller = "ViewCtrl")
  a.btn.bd--green.bg--green.tx--white.item-view--back-btn(href="#/") Back
  .detail--title
    h1
      a(href="{{item.link}}", target="_blank") {{item.title}}
    p.detail-- <a target="_blank" href="https://flickr.com/{{item.author_id}}"> {{item.author}}</a> | {{item.published}}
  div
    .detail--image-holder
      div
        img(src="{{item.media.m}}")
    .detail--description
      div(ng-bind-html="item.description")
      ul.detail--tags(ng-if="item.tags.length > 0")
        li
          a.feed-item--tag(ng-repeat="tag in item.tags", href="https://www.flickr.com/search/?tags={{tag}}", target="_blank") {{tag}}
