$siteWidth: 800px;
$switchWidth: 100px;
$feedImageSize: 150px;
$feedyBlue: #1e8bc3;
$feedyGreen: #2ECC71;
$feedyWhite: #fff;
$feedyGrey: #ECF0F1;
$feedyBlack: #2c3E55;
$colorPalette: (
  black: $feedyBlack,
  grey: $feedyGrey,
  blue  : $feedyBlue,
  green : $feedyGreen,
  white: $feedyWhite
);
