@each $key, $value in $colorPalette {
  .bg--#{$key} {
    background-color: $value;
  }
  .tx--#{$key} {
    color: $value;
  }
  .bd--#{$key} {
    border: 2px solid $value;
  }
  .hv--#{$key} {
    &:hover {
      color: $value;
    }
  }
}

.tx--center {
  text-align: center;
}

.rd--border {
  border-radius: 5px;
}

.padd {
  padding: 20px;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: (($size / ($size * 0 + 1)) / 16)rem;
}

* {
  box-sizing: border-box;
}

html {
  @include font-size(12px);
  @media (min-width: $siteWidth) {
    @include font-size(16px);
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
}

input {
  border: none;
  border-bottom: 2px solid $feedyGrey;
  width: 100%;
  padding-right: $switchWidth;
  margin-bottom: 20px;
  line-height: 50px;
  @include font-size(14px);
  &:focus {
    outline: 0;
  }
  @media (min-width: $siteWidth) {
    @include font-size(24px);
  }
}

a {
  cursor: pointer;
  transition: color .25s ease 0s;
  text-decoration: none;
  color: $feedyBlue;
  &:hover {
    color: $feedyGreen;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

h1 {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
