.detail {
  overflow: hidden;
}
.detail--title {
  padding-right: 100px;
}
.detail--image-holder {
  display: block;
  img {
    width: 100%;
  }
}
.detail--description {
  display: block;
  img {
    height: 25px;
    width: 25px;
  }
}
@media(min-width: $siteWidth) {
  .detail--image-holder {
    float: left;
    display: inline-block;
    width: 40%;
    padding-right: 20px;
  }
  .detail--description {
    display: inline-block;
    width: 60%;
  }
}
