.feed {
  width: 100%;
  height: 400px;
  overflow: auto;

  .feed-item {
    height: $feedImageSize;
    border-bottom: 1px solid $feedyGrey;
    overflow: hidden;
    &:last-of-type {
      border: none;
    }
  }

  .feed-item--image {
    height: 100%;
    width: $feedImageSize;
    display: inline-block;
    float: left;
    background-position: center center;
    background-size: cover;
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .feed-item--details {
    margin-left: $feedImageSize;
    height: 100%;
    padding: 20px;
  }

  .feed-item--title {
    margin: 0;
    white-space: nowrap;
    padding-bottom: 40px;
    transition: color .25s ease 0s;
  }

  .feed-item--detail {
    display: inline-block;
    padding-right: 20px;
    &.published {
      position: absolute;
      bottom: 100%;
      left: 0;
      @media (min-width: $siteWidth) {
        position: static;
      }
    }
  }
}
