.tag-mode-switch {
  height: 30px;
  width: $switchWidth;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .25s all ease 0s;
  background-color: $feedyGreen;
  &.is--any {
    background-color: $feedyBlue;
    .tag-mode-switch--indicator {
      left: 0;
    }
  }
  &:before,
  &:after {
    text-align: center;
    line-height: 26px;
    color: $feedyWhite;
    height: 100%;
    width: 50%;
    display: inline-block;
  }
  &:before {
    float: left;
    content: 'all';
  }
  &:after {
    content: 'any';
  }
  .tag-mode-switch--indicator {
    transition: .25s all ease 0s;
    position: absolute;
    width: 50%;
    left: 50%;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: $feedyGrey;
  }
}
