.detail--tags {
  padding-left: 50px;
  &:before {
    content: 'Tags:';
    position: absolute;
    top: 5px;
    left: 0;
  }
}
.feed-item--tag {
  padding: 10px;
  background-color: $feedyBlue;
  color: $feedyWhite;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  border: 2px solid $feedyBlue;
  cursor: pointer;
  &:hover {
    color: $feedyBlue;
    background-color: $feedyWhite;
  }
}
